/*
Auteurs: Dewi, Connor, Damian
Datum: 01-04-2025
*/

/* Gebruik jullie hier de gewenste fonts */
/* Font 1: minecraftia  */
@font-face {
    font-family: 'minecraftia';
    src: url("../fonts/minecraftia/Minecraftia-Regular.ttf");
}

/* Font 2: roboto-remix-font */
@font-face {
    font-family: 'Roboto-Remix-Font';
    src: url("../fonts/roboto-remix-font/Minecraftchmc-dBlX.ttf");
}


body {
    background-image: url('../images/Wallpaper-BG/Dirtblock.png');
    backdrop-filter: blur(2px); /* Slight blur effect for a smooth look */
    font-family: "Roboto-Remix-Font", serif;
    background-size: contain; /* Cover the entire viewport */
}


/* Quiz Wrapper */
.quiz-container {
    text-align: center;
    color: white; /* Text for readability */
    margin: 5rem;
}



