/* Gebruik jullie hier de gewenste fonts */
/* Font 1: minecraftia  */
@font-face {
    font-family: 'minecraftia';
    src: url("/fonts/minecraftia/Minecraftia-Regular.ttf");
}

/* Font 2: roboto-remix-font */
@font-face {
    font-family: 'Roboto-Remix-Font';
    src: url("/fonts/roboto-remix-font/Minecraftchmc-dBlX.ttf");
}

* {
    scroll-behavior: smooth !important;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url(../images/Wallpaper-BG/Dirtblock.png);
    background-repeat: repeat;
    background-position: 100%;
    background-size: contain;
}

#site-wrapper-footer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; /* This pushes the footer down */
}

#nav-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: gray; /* Testen */
    z-index: 1;
    position: sticky;
}

#nav-header a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: bold;
}

.Logo-header {
    width: 12vw; /* Alleen voor desktop, later bewerken in media queries */
    padding: 8px;
}


/* Creeper logo en naam */
#logo {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Adds space between the images */
}

#group-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

#creeper-header_icon {
    width: 4.4rem;
}

.groupFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Logo Mincecraft Test */
#mincecraft-header_text {
    width: 25.4rem;
}


#search-account-div {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
}

#search-account
 {
    display: flex;
    justify-content: flex-end;
    gap: 20pt;
    margin: 2rem;
}

footer {
    width: 100vw;
    height: 15%;
}

#footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    background-color: #181818;
}

#BottomFooter {
    display: grid;
    justify-content: center;
    background-color: #313131;
}

.footer-img-sizing {
    padding: 1rem;
}

#BottomFooter{
    display: grid;
    justify-content: flex-end;
    align-content: center;
}

.footer-img-sizing > img {
    width: auto;  /* Set a fixed width */
    height: auto; /* Set a fixed height */
    object-fit: cover; /* Crop the image to fill the space */
}

        @media (min-width: 475px) {
        }

        /*sm*/
        @media (min-width: 640px) {
        }

        /*md*/
        @media (min-width: 768px) {
        }

        /*lg*/
        @media (min-width: 1024px) {
        }

        /*xl*/
        @media (min-width: 1280px) {
        }

        /*2xl*/
        @media (min-width: 1536px) {
        }


        /*The desktop-first pre-defined media queries:*/
        /*2xl*/
        @media (max-width: 1536px) {
        }

        /* xl */
        @media (max-width: 1280px) {
        }

        /* lg */
        @media (max-width: 1024px) {
        }

        /* md */
        @media (max-width: 768px) {
        }

        /* sm */
        @media (max-width: 640px) {
        }

        /* xs */
        @media (max-width: 475px) {
        }



