/*
Auteurs: Dewi, Connor, Damian
Datum: 32-3-2025
*/

/* Gebruik jullie hier de gewenste fonts */
/* Font 1: minecraftia  */
@font-face {
    font-family: 'minecraftia';
    src: url("/fonts/minecraftia/Minecraftia-Regular.ttf");
}

/* Font 2: roboto-remix-font */
@font-face {
    font-family: 'Roboto-Remix-Font';
    src: url("/fonts/roboto-remix-font/Minecraftchmc-dBlX.ttf");
}

* {
    scroll-behavior: smooth !important;
    box-sizing: border-box;
    font-family: "minecraftia", serif;
}

html {
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url(../images/Wallpaper-BG/Dirtblock.png);
    background-repeat: repeat;
    background-position: 100%;
    background-size: contain;
}

#site-wrapper-footer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; /* This pushes the footer down */
}


header {
    top: 0;
    z-index: 2;
    position: sticky;
}

#nav-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(19, 18, 18, 0.9);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.73);
    backdrop-filter: blur(10px);
    text-transform: uppercase;
}

#nav-header a {
    color: white;
    text-decoration: none;
    font-size: 0.85rem;
    padding: 1rem;
    font-weight: bold;
}

#nav-header a:hover {
    color: #86D562;
}

.Logo-header {
    width: 12vw; /* Alleen voor desktop, later bewerken in media queries */
    padding: 8px;
}


/* Creeper logo en naam */
#logo {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Adds space between the images */
}

#group-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

#creeper-header_icon {
    width: 4.4rem;
    height: 70px;
}

#creeper-header_icon:hover {
    border: ridge #dcdbdb 2px;
    transition: 0.05s;
}


.groupFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Logo Mincecraft Test */
#mincecraft-header_text {
    width: 20.4rem;;
    height: 80px;
}


#CoreBTN {
    display: flex;
    justify-content : space-evenly;
    gap: 10pt   ;
}


#search-account-div {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
}

#search-account
 {
    display: flex;
    justify-content: flex-end;
    gap: 20pt;
    margin: 2rem;
}

#A-Search::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 23px;
    background-image: url("../images/Header-Icons/Glass-Magnifier-Icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#A-Account::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 23px;
    background-image: url("../images/Header-Icons/PersonsAccount-Icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}



/* Footer  */

footer {
    width: 100vw;
    height: 15%;
}


#footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    background-color: #181818;
}

#BottomFooter {
    display: grid;
    justify-content: center;
    background-color: #313131;
}

.footer-img-sizing {
    padding: 1rem;
}

#BottomFooter{
    display: grid;
    justify-content: flex-end;
    align-content: center;
}

.footer-img-sizing > img {
    width: auto;  /* Set a fixed width */
    height: auto; /* Set a fixed height */
    object-fit: cover; /* Crop the image to fill the space */
}


#Social-Media-Container {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 2.5rem;
    background: black;
    text-transform: uppercase !important;

}

#SM-Header {
    font-family: Verdana, serif;
    color: white;
    letter-spacing: 1px;
    font-size: 1.6rem;
}


#SM-links img {
    width: 80px;
    background-color: #282828;
    border-radius: 50%;
    padding: 10px;
    margin: 2px;
    position: relative;
    top: 10px;
}

#SM-links > a {
    text-decoration: none;
    cursor: pointer;
}

/* responsiveness */

        @media (min-width: 475px) {

        }

        /*sm*/
        @media (min-width: 640px) {
        }

        /*md*/
        @media (min-width: 768px) {
        }

        /*lg*/
        @media (min-width: 1024px) {
        }

        /*xl*/
        @media (min-width: 1280px) {
        }

        /*2xl*/
        @media (min-width: 1536px) {
        }


        /*The desktop-first pre-defined media queries:*/
        /*2xl*/
        @media (max-width: 1536px) {
        }

        /* xl */
        @media (max-width: 1280px) {
        }

        /* lg */
        @media (max-width: 1024px) {
        }

        /* md */
        @media (max-width: 768px) {
        }

        /* sm */
        @media (max-width: 640px) {
        }

        /* xs */
        @media (max-width: 475px) {
        }



