* {
    scroll-behavior: smooth !important;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url(../images/Wallpaper-BG/Dirtblock.png);
    background-repeat: repeat;
    background-position: 100%;
    background-size: contain;
}

main {
}

#nav-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: gray; /* Testen */
}

.Logo-header {
    width: 12vw; /* Alleen voor desktop, later bewerken in media queries */
    padding: 8px;
}

/* Creeper logo en naam */
#logo {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Adds space between the images */
}

#group-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

/* Logo Mincecraft Test */
#mincecraft-header_text {
    width: 25.4rem;
}

#creeper-header_icon {
    width: 6rem;
}

.groupFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav-header a {
    color: white;
    text-decoration: none;
}

#search-account-div {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
}

#search-account
 {
    display: flex;
    justify-content: flex-end;
    gap: 20pt;
    margin: 2rem;
}








* {
    scroll-behavior: smooth !important;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url(../images/Wallpaper-BG/Dirtblock.png);
    background-repeat: repeat;
    background-position: 100%;
    background-size: contain;
}

main {
}


#nav-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: gray; /* Testen */
}

.Logo-header {
    width: 12vw; /* Alleen voor desktop, later bewerken in media queries */
    padding: 8px;
}

/* Creeper logo en naam */
#logo {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Adds space between the images */
}

#group-logo {
    display: flex;
    justify-content: center;
    align-content: center;
=======
.footer-xbox img {
    height: 50px;
    max-width: 100%;
}

.footer-microsoft img {
    height: 50px;
    max-width: 100%;
}



.footer-mojang img {
    height: 50px;
    max-width: 100%;

}

.footer-xbox img {
    height: 50px;
    max-width: 100%;
}

.footer-microsoft img {
    height: 50px;
    max-width: 100%;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer-mojang
{
    display: flex;
    height: 20vh;
    margin-bottom: -200px;
    margin-left: -300px;
}

.footer-xbox {
    display: flex;
    height: 20vh;
    margin-bottom: -50px;
}

/* README: Here I got a pre-template for media queries,
for more information, search here: https://www.youtube.com/watch?v=K24lUqcT0Ms&t=4s

written by "Dewi", you can remove this comment after you've read the message.
*/

/* The mobile-first pre-defined media queries: */
 /*    xs*/
     @media (min-width: 475px) {}

     /*sm*/
     @media (min-width: 640px) {}

     /*md*/
     @media (min-width: 768px) {}

     /*lg*/
     @media (min-width: 1024px) {}

     /*xl*/
     @media (min-width: 1280px) {}

     /*2xl*/
     @media (min-width: 1536px) {}


 /*The desktop-first pre-defined media queries:*/
 /*2xl*/
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}

/* lg */
@media (max-width: 1024px) {}

/* md */
@media (max-width: 768px) {}

/* sm */
@media (max-width: 640px) {}

/* xs */
@media (max-width: 475px) {}

